.createpost {
    padding: 20px;
}

.createpost_form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.hidden {
    display: none;
}