@import './scss/variables';

.createpost {
    margin: 0 auto;
    padding: #{$padding}px;
    max-width: 800px;
}

.createpost_form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    input,
    textarea {
        border: solid 1px rgba(lighten($blue, 15%), 0.4);
        border-radius: 3px;
        box-shadow: unset;
        margin: 0.5em 0;
        padding: 4px;
        width: 100%;
    }

    input[type="radio"] {
        display: inline-block;
        height: 15px;
        margin-right: 10px;
        width: 15px;
    }

    ::-webkit-input-placeholder {
        color: rgba(lighten($black, 15%), 0.4);
        font-weight: lighter;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(lighten($black, 15%), 0.4);
        font-weight: lighter;
    }

    :-ms-input-placeholder { /* IE 10+ */
        color: rgba(lighten($black, 15%), 0.4);
        font-weight: lighter;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: rgba(lighten($black, 15%), 0.4);
        font-weight: lighter;
    }
}

.hidden {
    display: none;
}

.selectcategory {
    color: $blue;
}

.availablecategories {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: capitalize;
}

.category {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.label {
    color: $blue;
}

.submitpost {
    border-radius: 4px;
    margin: #{$margin / 2}px 0;
    padding: #{$padding / 2}px;
}
