@import 'scss/variables';

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    text-transform: uppercase;

    a {
        text-decoration: none;
    }
}

.headeritem {
    display: inline-block
}

.active {
    color: $green;
    font-weight: bold;
}
