.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.headeritem {
    color: red;
    display: inline-block
}

.active {
    color: purple;
    border: solid 1px red;
}
