@import 'scss/variables';

.header {
    align-items: flex-start;
    background-color: $white;
    box-shadow: 2px 2px 5px 0px rgba(lighten($black, 15%), 0.2);
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 1em 1em 0;
    position: fixed;
    right: 0;
    text-transform: uppercase;
    top: 0;

    a {
        text-decoration: none;

        &::after {
            content: '';
            border-bottom-color: transparent;
            border-bottom-width: 0px;
            border-bottom-style: solid;
            width: 0%;
            transition: width 0.4s ease-out, border-bottom-color 0.4s ease-out;
            transition-delay: 0.1s, 0.1s;
        }

        &:hover {
            &::after {
                content: '';
                border-bottom-color: $green;
                border-bottom-width: 4px;
                border-bottom-style: solid;
                display: inline-block;
                position: relative;
                top: -0.6em;
                width: 100%;
            }
        }
    }

    .active {
        color: $green;
        font-weight: bold;
    
        &::after {
            content: '';
            border-bottom-color: $green;
            border-bottom-width: 4px;
            border-bottom-style: solid;
            display: inline-block;
            position: relative;
            top: -0.6em;
            width: 100%;
        }
    }
}

.headeritem {
    display: inline-block
}
