@import 'scss/variables';
@import 'scss/mixins';

.postscontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: #{$padding}px;

    @include tablet {
        justify-content: flex-start;
    }

    @include desktop {
        justify-content: flex-start;
    }
}

